.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 450px;
  padding-top: 100px;
}

.signup-title {
  font-size: 28px;
  font-weight: bold;
  color: #a54a26;
  margin-bottom: 5px;
}

.signup-subtitle {
  font-size: 16px;
  color: #855f4c;
  margin-bottom: 30px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.signup-form label {
  font-size: 14px;
  margin-bottom: 5px;
}

.signup-form input {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 4px;
}

.signup-btn {
  padding: 10px;
  background-color: #b3541b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.signup-btn:hover {
  background-color: #9d4517;
}

.login-box {
  margin-top: 20px;
  color: #a14f3f;
  font-size: 14px;
}

.login-box a {
  color: blue;
  text-decoration: none;
}

.login-box a:hover {
  text-decoration: underline;
}
.header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: rgb(249, 245, 245);
  padding: 10px 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0px;
}

.logo {
  width: 90px;
  height: auto;
  padding-left: 15px;
}

.header h1 {
  color: rgb(219, 135, 79);
  font-size: 22px;
  flex: 1;
  text-align: center;
  font-style: italic;
}